#title {
    background-color: #4B6587;
    color: #E8F6EF;
}

.tit-img {
    width: 100%;
    margin: auto;
}

.container-fluid {
    padding: 0%;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Montserrat-Bold";
}

body{
    font-family:"Montserrat-Black" ;
    text-align: center;
}

h3 {
    font-weight: bolder;
    font-size: 1.5rem;
}

p{
    color: #476072;
    font-weight: bold;
}

.big-head {
    font-size: 3rem;
    line-height: 1.5;
    padding: 2rem 0;
    margin: auto;
}

/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download buttons */

.download-button {
    margin: 3% 3% 5% 0;
}

/*features*/

#features {
    background-color: #DDDDDD;
    position: relative;
    padding: 2% 12%;
}

.feature-box {
    padding: 10%;
}

.icon {
    color: #4B6587;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #6B7AA1;
}

/* testimonial */

#demon {
    background-color: #4B6587;
    color:#DDDDDD ;
    padding: 3% 8%;
}

.img1 {
    padding: 4%;
    width: 80%;
    margin: auto;
}

.carousel-item {
    padding: 4% 15%;
}

#bnha {
    background-color: #E5FBB8;
    color: #345B63;
    padding: 3% 8%;
}

.img2 {
    width: 55%;
    padding: 4%;
    margin: auto;
}

#hunter {
    background-color: #FDE49C;
    color: #5C3D2E;
    padding: 3% 8%;
}

.size {
    height: 500px;
}

@media (max-width: 1100px) {
    .size {
        height: 450px;
    }
    .img1 {
        width: 90%;
    }
    .img2 {
        width: 65%;
    }
}

@media (max-width: 820px) {
    .size {
        height: 350px;
    }
    .img1 {
        width: 95%;
    }
    .img2 {
        width: 75%;
    }
}

@media (max-width: 520px) {
    .size {
        height: 250px;
    }
    .img1 {
        width: 100%;
    }
    .img2 {
        width: 80%;
    }
    .navbar-brand {
        font-family: "Ubuntu";
        font-size: 3.5rem;
        font-weight: bold;
        padding-left: 2rem;
    }
    
    .nav-link {
        font-size: 1.75rem;
    }

    .big-head {
        font-size: 3.65rem;
        line-height: 1.75;
        padding: 2rem 0;
        margin: auto;
    }

    h3 {
        font-weight: bolder;
        font-size: 1.8rem;
    }
}

/*--pricing section--*/

#pricing {
    padding: 100px;    
    background-color: #E8F6EF;
    color: #476072;
}

.price-col {
padding: 2% 3%;
}

/*--cta section--*/

#cta {
background-color: #4B6587;
padding: 4% 15%;
color: #E8F6EF;
}

/*--footer section--*/

#footer {
        padding: 4% 12%;
        background-color: #DDDDDD;
}

.soc-icons {
    margin: 20px 10px;
}